<?xml version="1.0"?>
<launch>



  <arg name="launch_rviz"                   default="true" />
  <arg name="connect_tf_tree"               default="true" />
  
   <!-- Gazebo  -->
  <include file="$(find car_gazebo_models)/launch/empty_world.launch" />

  <include file="$(find car_gazebo_models)/launch/car/car.gazebo.launch">
     <arg name="robot_name" value="r0" />
     <arg name="position" value="-x 1.0 -y -0.5 -z 0.01 -R 0 -P 0 -Y 0" />
   </include>

  <include file="$(find car_gazebo_models)/launch/car/car.gazebo.launch">
     <arg name="robot_name" value="r1" />
     <arg name="position" value="-x 1.0 -y 0.5 -z 0.01 -R 0 -P 0 -Y 0" />
   </include>

  <!-- tf_tree -->
  <group if="$(arg connect_tf_tree)">
    <node pkg="tf" type="static_transform_publisher" name="base_to_odom_r0" args="0.0 -0.5 0.0 0.0 0.0 0.0 base r0/odom 200" />
    <node pkg="tf" type="static_transform_publisher" name="base_to_odom_r1" args="1.0  0.5 0.0 0.0 0.0 0.0 base r1/odom 200" />
  </group>  

  <!-- RVIZ -->
  <group if="$(arg launch_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find car_gazebo_models)/cfg/rviz/car.rviz" />
  </group>  


</launch>
